.cardFront,
.cardBack {
  height: 350px !important;
  width: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #363946 !important;
  color: #93acc6 !important;
  border-radius: 5px;
}
