.dailyArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px 0;
}
.dailyHeading :is(h1, h3, h4) {
  margin: 0;
  text-align: center;
}
.dailyHeading > h3 {
  font-size: 24px;
  font-weight: 600;
}
.dailyHeading > h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0;
}
.dailyLists {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.dailyLists > li {
  margin-bottom: 10px;
}
.min-max {
  display: block;
  margin-top: 10px;
  padding-top: 5px;
  font-size: 20px;
  font-weight: 600;
  margin: 0 !important;
}
.min {
  color: #33ca7f;
}
.max {
  color: #fc9f5b;
}

/* ------------------ */
.currentWeather {
  padding: 60px 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../Images/main_bg.jpeg");
  color: white;
  width: 350px;
  height: 525px;
  position: relative;
}
.currentWeather > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.curWeatherFront{
  padding: 0 !important;
}
.curTopDiv{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
